*{
    margin: 0;
    padding: 0;
}

/* menu section start */
.primary-menu{
    background-color: green;
}

.primary-menu ul{
        display: flex;
        justify-content: center;
}
.primary-menu ul li{
   list-style: none;
   padding: 10px 20px;
   color: white;
   border-right: 1px solid #ddd;
   flex-grow: 1;
}
.primary-menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
 }

 /* menu section end */

 /* wraping section */
 .main-div{
    display: flex;
    margin-top: 40px;
   
 }
 .row-firts {
	border: 1px solid red;
	padding: 10px;
}
.row-second{
    margin-top: 40px;
    display: flex;
    
}
.row-item{
    border: 2px solid orange;
    flex-basis: 30%;
    padding: 10px;
}
.bigdiv{
    flex-basis: 70%;
}
.row-third{
    display: flex;
    margin-top: 40px;
   
}
.row-iteem{
    border: 1px solid purple;
    flex: 1 0 0%;
    padding: 10px;
}
.bigggdiv{
    flex-grow: 2;
}
.centercenterdiv{
    width: 200px;
    height: 200px;
    border: 1px solid palevioletred;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerdiv{
    width: 90px;
    height: 90px;
    background-color: blueviolet;
}

/* img gullery */
.img-gellery {
	display: flex;
}
.img-item {
	border: 1px solid black;
    
}
.img-gullery-two {
	display: flex;
	margin: 20px 0;
}